/* Desktops and laptops ----------- */
@media only screen 
and (max-width : 1000px){


    h1 { font-size: 48px; }
    h2 { font-size: 36px; }
    h3 { font-size: 17px; }
    h4 { font-size: 20px; }
    
    nav ul {
        list-style:none;
        float: right;
        margin: 16px 10px 0px 0px;
    }
    
    nav ul li {
        float:left;
        padding-left: 5px;
        padding-right:5px;
        border-right: 1px solid #2b4772;
        height: 15px;
        font-size: 15px;
    }
    
    nav ul li a {
        font-size: 15px;
        letter-spacing: 1px;
        line-height:15px;
        float:left;
        text-decoration: none;
        color: #dce7fa;
        font-family: 'Source Sans Pro', sans-serif;
    }
    
    .site-container {
        width: 900px;
        margin: 0px auto;
    }
    
    header {
        background: #4c73af url(../images/header-pattern.png) repeat-x;
        height: 68px;
        border-bottom: 1px solid #2c4c7d;
        width: 100%;
    }
    
    #logo {
        margin: 13px 0px 0px 26px;
    }
    
    #contact-info {
        display: inline;
    }
    
    #sub-header {
        background: #274c85 url(../images/subheader-pattern.png) repeat-x;
        height: 46px;
        border-top: 1px solid #6587bc;
        width: 100%;
    }
    
    #subhead-divider {
        height: 7px;
        width: 100%;
        background-color: #5b7fb2;
        border-top: 1px solid #084267;
        border-bottom: 1px solid #084267;
        width: 100%;
    }
    
    #top-half {
        background: #6a98e0 url(../images/top-content-pattern.png) repeat-x;
        height: 324px;
        border-bottom: 1px solid #ebf3ff;
        width: 100%;
    }
    
    #demo-form {
        width: 30%;
        height: 323px;
        float: left;
    }
    
    #demo-form-title {
        height: 48px;
        width: 100%;
        background-color: #4d75b1;
        border-bottom: 1px solid #81a6df;
        float: left;
        text-align: center;
    }
    
    #demo-form-title h3 {
        font-size: 25px;
        color: #ffffff;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 900;
        margin-top: 4px;
        text-shadow: 0 0 2px rgba(0,0,0,.75);
    }
    
    button {
        width: 88%;
    }
    
    #response{
            display: none;
            width: 40%;
            height: 48px;
            background-color: #4d75b1;
            border-bottom: 1px solid #81a6df;
            float: left;
            text-align: center;
    }
    
    #sub-response {
            width: 310px;
            margin: 10px 0px 0px 20px;
            float: left;
    }
    
    
    .half-field {
        width: 40%;
        float: left;
        margin: 10px 10px 10px 13px;
    }
    
    .full-field {
        width: 87%;
        float: left;
        margin: 10px 10px 10px 13px;
    }
    
    #slider-wrapper {
        display: inline;
        width: 57%;
    }
    
    ul#slider .title {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 30px;
        font-weight: 700;
        color: #fff;
        text-shadow: 0 0 2px rgba(0,0,0,.75);
        margin: 3px 0px 3px 0px;
    }
    
    .slider-hr {
        background: url(../images/large-hr.png);
        width: 592px;
        height: 4px;
        border: none;
        margin: 3px 0px 3px 0px;
    }
    
    ul#slider .desc {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 18px;
        font-weight: 400;
        color: #f4e7c3;
        text-shadow: 0 0 1px rgba(0,0,0,.49);
        margin: 8px 0px 8px 0px;
        width: 85%;
    }
    
    ul#slider .sub-desc {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 18px;
        font-weight: 300;
        color: #e8f1ff;
        text-shadow: 0 0 1px rgba(0,0,0,.49);
        margin: 8px 0px 0px 0px;
        width: 85%;
        
    }

    
    #mid-strip {
            background: #ebf3ff url(../images/mid-strip-pattern.png) repeat-x;
            width: 100%;
            height: 81px;
            border-top: 1px solid #6a98e0;
            border-bottom: 1px solid #d3dbe8;
    }
    
    #guaranteed {
        width: 310px;
        float: left;
        margin: 20px 0px 0px 15px;
        
    }
    
    .guaranteed-hr {
        background: url(../images/small-hr.png);
        width: 296px;
        height: 4px;
        border: none;
        margin: 8px 0px 0px 0px;
    }
    
    
    ul.slide-pager li {
            float:left;
            padding-left: 20px;
            padding-right:20px;
            border-right: 1px solid #ffffff;
            border-left: 1px solid #c9d7ed;
            height: 25px;
            display:none;
    }
    
    
    #body-content {
        width: 60%;
        float:left;
        margin: 20px 0px 0px 0px;
        padding-left:15px;
    }
    
    #technology-checklist {
        margin-left: 0;
        padding-left: 0;
        list-style: none;
    }
    
    #technology-checklist p {
        display: inline;
        font-size: 13px;
    }
    
    #right-sidebar {
        background-color: #ffffff;
        border: 1px solid #e1e1e1;
        width: 36%;
        float: left;
        margin: 18px 0px 10px 16px;
        -webkit-border-radius:6px;
        -moz-border-radius:6px;
        border-radius:6px;
        overflow: hidden;
    }
    
    .sidebar-item img {
        display: none;
    }
    
    .sidebar-text {
        float:left;
        width: 100%;
        height: 100%;
        margin: 0px;
        padding 5px;
    }
    
    #sub-footer {
        display: none;
    }


}


/* Desktops and laptops ----------- */
@media only screen 
and (max-width : 768px){


    h1 { font-size: 48px; }
    h2 { font-size: 36px; }
    h3 { font-size: 17px; }
    h4 { font-size: 20px; }
    
    nav ul {
        list-style:none;
        float: right;
        margin: 16px 10px 0px 0px;
    }
    
    nav ul li {
        float:left;
        padding-left: 5px;
        padding-right:5px;
        border-right: 1px solid #2b4772;
        height: 15px;
        font-size: 15px;
    }
    
    nav ul li a {
        font-size: 15px;
        letter-spacing: 1px;
        line-height:15px;
        float:left;
        text-decoration: none;
        color: #dce7fa;
        font-family: 'Source Sans Pro', sans-serif;
    }
    
    .site-container {
        width: 750px;
        margin: 0px auto;
    }
    
    header {
        background: #4c73af url(../images/header-pattern.png) repeat-x;
        height: 68px;
        border-bottom: 1px solid #2c4c7d;
        width: 100%;
    }
    
    #logo {
        margin: 13px 0px 0px 26px;
    }
    
    #contact-info {
        display: inline;
    }
    
    #sub-header {
        background: #274c85 url(../images/subheader-pattern.png) repeat-x;
        height: 46px;
        border-top: 1px solid #6587bc;
        width: 100%;
    }
    
    #subhead-divider {
        height: 7px;
        width: 100%;
        background-color: #5b7fb2;
        border-top: 1px solid #084267;
        border-bottom: 1px solid #084267;
        width: 100%;
    }
    
    #top-half {
        background: #6a98e0 url(../images/top-content-pattern.png) repeat-x;
        height: 324px;
        border-bottom: 1px solid #ebf3ff;
        width: 100%;
    }
    
    #demo-form {
        width: 99.8%;
        height: 323px;
        float: left;
        display: none;
    }
    
    #demo-form-title {
        height: 48px;
        width: 100%;
        background-color: #4d75b1;
        border-bottom: 1px solid #81a6df;
        float: left;
        text-align: center;
    }
    
    #demo-form-title h3 {
        font-size: 33px;
        color: #ffffff;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 900;
        margin-top: 1px;
        text-shadow: 0 0 2px rgba(0,0,0,.75);
    }
    
    button {
        width: 88%;
    }
    
    #response{
            display: none;
            width: 40%;
            height: 48px;
            background-color: #4d75b1;
            border-bottom: 1px solid #81a6df;
            float: left;
            text-align: center;
    }
    
    #sub-response {
            width: 310px;
            margin: 10px 0px 0px 20px;
            float: left;
    }
    
    
    .half-field {
        width: 40%;
        float: left;
        margin: 10px 10px 10px 13px;
    }
    
    .full-field {
        width: 87%;
        float: left;
        margin: 10px 10px 10px 13px;
    }
    
    #slider-wrapper {
        width: 95%;
        float: left;
        margin: 5px 0px 0px 20px;
        display: inline;
    }
    
    ul#slider .title {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 48px;
        font-weight: 700;
        color: #fff;
        text-shadow: 0 0 2px rgba(0,0,0,.75);
        margin: 3px 0px 3px 0px;
    }
    
    .slider-hr {
        background: url(../images/large-hr.png);
        width: 95%;
        height: 4px;
        border: none;
        margin: 3px 0px 3px 0px;
    }
    
    ul#slider .desc {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 18px;
        font-weight: 400;
        color: #f4e7c3;
        text-shadow: 0 0 1px rgba(0,0,0,.49);
        margin: 8px 0px 8px 0px;
    }
    
    ul#slider .sub-desc {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 18px;
        font-weight: 300;
        color: #e8f1ff;
        text-shadow: 0 0 1px rgba(0,0,0,.49);
        margin: 8px 0px 0px 0px;
        
    }
    
    #mid-strip {
            background: #ebf3ff url(../images/mid-strip-pattern.png) repeat-x;
            width: 100%;
            height: 81px;
            border-top: 1px solid #6a98e0;
            border-bottom: 1px solid #d3dbe8;
    }
    
    #guaranteed {
        display: none; 
    }
    
    .guaranteed-hr {
        background: url(../images/small-hr.png);
        width: 296px;
        height: 4px;
        border: none;
        margin: 8px 0px 0px 0px;
    }
    
    ul.slide-pager {
            margin: 26px 0px 0px 15px;
            float: left;
    }
    
    
    ul.slide-pager li {
            float:left;
            padding-left: 20px;
            padding-right:20px;
            border-right: 1px solid #ffffff;
            border-left: 1px solid #c9d7ed;
            height: 25px;
            display:inline;
            margin: 0px 0px 0px 0px;
    }
    
    
    #body-content {
        width: 100%;
        float:left;
        margin: 20px 0px 0px 0px;
        padding-left:15px;
    }
    
    #technology-checklist {
        margin-left: 0;
        padding-left: 0;
        list-style: none;
    }
    
#technology-checklist p {
    display: none;
}
    
    #right-sidebar {
        background-color: #ffffff;
        border: 1px solid #e1e1e1;
        width: 90%;
        float: left;
        margin: 18px 0px 10px 16px;
        -webkit-border-radius:6px;
        -moz-border-radius:6px;
        border-radius:6px;
        overflow: hidden;
    }
    
    .sidebar-item img {
        display: none;
    }
    
    .sidebar-text {
        float:left;
        width: 100%;
        height: 100%;
        margin: 0px;
        padding 5px;
    }
    
    #sub-footer {
        display: none;
    }


}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {

    h1 { font-size: 48px; }
    h2 { font-size: 36px; }
    h3 { font-size: 17px; }
    h4 { font-size: 20px; }
    
    nav ul {
        list-style:none;
        float: left;
        margin: 16px 0px 0px 15px;
    }
    
    nav ul li {
        float:left;
        padding-left: 5px;
        padding-right:5px;
        border-right: 1px solid #2b4772;
        height: 15px;
        font-size: 15px;
    }
    
    nav ul li a {
        font-size: 15px;
        letter-spacing: 1px;
        line-height:15px;
        float:left;
        text-decoration: none;
        color: #dce7fa;
        font-family: 'Source Sans Pro', sans-serif;
    }
    
    .site-container {
        width: 320px;
        margin: 0px auto;
    }
    
    header {
        background: #4c73af url(../images/header-pattern.png) repeat-x;
        height: 68px;
        border-bottom: 1px solid #2c4c7d;
        width: 100%;
    }
    
    #logo {
        margin: 13px 0px 0px 26px;
    }
    
    #contact-info {
        display:none;
    }
    
    #sub-header {
        background: #274c85 url(../images/subheader-pattern.png) repeat-x;
        height: 46px;
        border-top: 1px solid #6587bc;
        width: 100%;
    }
    
    #subhead-divider {
        height: 7px;
        width: 100%;
        background-color: #5b7fb2;
        border-top: 1px solid #084267;
        border-bottom: 1px solid #084267;
        width: 100%;
    }
    
    #top-half {
        background: #6a98e0 url(../images/top-content-pattern.png) repeat-x;
        height: 324px;
        border-bottom: 1px solid #ebf3ff;
        width: 100%;
    }
    
    #demo-form {
        width: 99.8%;
        height: 323px;
        float: left;
        display: inline;
    }
    
    #demo-form-title {
        height: 48px;
        width: 100%;
        background-color: #4d75b1;
        border-bottom: 1px solid #81a6df;
        float: left;
        text-align: center;
    }
    
    #demo-form-title h3 {
        font-size: 33px;
        color: #ffffff;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 900;
        margin-top: 1px;
        text-shadow: 0 0 2px rgba(0,0,0,.75);
    }
    
    button {
        width: 88%;
    }
    
    #response{
            display: none;
            width: 100%;
            height: 48px;
            background-color: #4d75b1;
            border-bottom: 1px solid #81a6df;
            float: left;
            text-align: center;
    }
    
    #sub-response {
            width: 100%;
            margin: 10px 0px 0px 20px;
            float: left;
    }
    
    
    .half-field {
        width: 40%;
        float: left;
        margin: 10px 10px 10px 13px;
    }
    
    .full-field {
        width: 87%;
        float: left;
        margin: 10px 10px 10px 13px;
    }
    
    #slider-wrapper {
        display:none;
    }
    
    #mid-strip {
            background: #ebf3ff url(../images/mid-strip-pattern.png) repeat-x;
            width: 100%;
            height: 81px;
            border-top: 1px solid #6a98e0;
            border-bottom: 1px solid #d3dbe8;
    }
    
    #guaranteed {
        width: 310px;
        float: left;
        margin: 20px 0px 0px 15px;
        
    }
    
    .guaranteed-hr {
        background: url(../images/small-hr.png);
        width: 296px;
        height: 4px;
        border: none;
        margin: 8px 0px 0px 0px;
    }
    
    
    ul.slide-pager li {
            float:left;
            padding-left: 20px;
            padding-right:20px;
            border-right: 1px solid #ffffff;
            border-left: 1px solid #c9d7ed;
            height: 25px;
            display:none;
    }
    
    
    #body-content {
        width: 100%;
        float:left;
        margin: 20px 0px 0px 0px;
        padding-left:15px;
    }
    
    #technology-checklist {
        margin-left: 0;
        padding-left: 0;
        list-style: none;
    }
    
    #technology-checklist p {
        display: none;
    }
    
    #right-sidebar {
        background-color: #ffffff;
        border: 1px solid #e1e1e1;
        width: 90%;
        float: left;
        margin: 18px 0px 10px 16px;
        -webkit-border-radius:6px;
        -moz-border-radius:6px;
        border-radius:6px;
        overflow: hidden;
    }
    
    .sidebar-item img {
        display: none;
    }
    
    .sidebar-text {
        float:left;
        width: 100%;
        height: 100%;
        margin: 0px;
        padding 5px;
    }
    
    #sub-footer {
        display: none;
    }

}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {





}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {


    h1 { font-size: 48px; }
    h2 { font-size: 36px; }
    h3 { font-size: 17px; }
    h4 { font-size: 20px; }
    
    nav ul {
        list-style:none;
        float: left;
        margin: 16px 0px 0px 15px;
    }
    
    nav ul li {
        float:left;
        padding-left: 5px;
        padding-right:5px;
        border-right: 1px solid #2b4772;
        height: 15px;
        font-size: 15px;
    }
    
    nav ul li a {
        font-size: 15px;
        letter-spacing: 1px;
        line-height:15px;
        float:left;
        text-decoration: none;
        color: #dce7fa;
        font-family: 'Source Sans Pro', sans-serif;
    }
    
    .site-container {
        width: 320px;
        margin: 0px auto;
    }
    
    header {
        background: #4c73af url(../images/header-pattern.png) repeat-x;
        height: 68px;
        border-bottom: 1px solid #2c4c7d;
        width: 100%;
    }
    
    #logo {
        margin: 13px 0px 0px 26px;
    }
    
    #contact-info {
        display:none;
    }
    
    #sub-header {
        background: #274c85 url(../images/subheader-pattern.png) repeat-x;
        height: 46px;
        border-top: 1px solid #6587bc;
        width: 100%;
    }
    
    #subhead-divider {
        height: 7px;
        width: 100%;
        background-color: #5b7fb2;
        border-top: 1px solid #084267;
        border-bottom: 1px solid #084267;
        width: 100%;
    }
    
    #top-half {
        background: #6a98e0 url(../images/top-content-pattern.png) repeat-x;
        height: 324px;
        border-bottom: 1px solid #ebf3ff;
        width: 100%;
    }
    
    #demo-form {
        width: 99.8%;
        height: 323px;
        float: left;
        display: inline;
    }
    
    #demo-form-title {
        height: 48px;
        width: 100%;
        background-color: #4d75b1;
        border-bottom: 1px solid #81a6df;
        float: left;
        text-align: center;
    }
    
    #demo-form-title h3 {
        font-size: 33px;
        color: #ffffff;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 900;
        margin-top: 1px;
        text-shadow: 0 0 2px rgba(0,0,0,.75);
    }
    
    button {
        width: 88%;
    }
    
    #response{
            display: none;
            width: 100%;
            height: 48px;
            background-color: #4d75b1;
            border-bottom: 1px solid #81a6df;
            float: left;
            text-align: center;
    }
    
    #sub-response {
            width: 310px;
            margin: 10px 0px 0px 20px;
            float: left;
    }
    
    
    .half-field {
        width: 40%;
        float: left;
        margin: 10px 10px 10px 13px;
    }
    
    .full-field {
        width: 87%;
        float: left;
        margin: 10px 10px 10px 13px;
    }
    
    #slider-wrapper {
        display:none;
    }
    
    #mid-strip {
            background: #ebf3ff url(../images/mid-strip-pattern.png) repeat-x;
            width: 100%;
            height: 81px;
            border-top: 1px solid #6a98e0;
            border-bottom: 1px solid #d3dbe8;
    }
    
    #guaranteed {
        width: 310px;
        float: left;
        margin: 20px 0px 0px 15px;
        
    }
    
    .guaranteed-hr {
        background: url(../images/small-hr.png);
        width: 296px;
        height: 4px;
        border: none;
        margin: 8px 0px 0px 0px;
    }
    
    
    ul.slide-pager li {
            float:left;
            padding-left: 20px;
            padding-right:20px;
            border-right: 1px solid #ffffff;
            border-left: 1px solid #c9d7ed;
            height: 25px;
            display:none;
    }
    
    
    #body-content {
        width: 100%;
        float:left;
        margin: 20px 0px 0px 0px;
        padding-left:15px;
    }
    
    #technology-checklist {
        margin-left: 0;
        padding-left: 0;
        list-style: none;
    }
    
    #technology-checklist p {
        display: none;
    }
    
    #right-sidebar {
        background-color: #ffffff;
        border: 1px solid #e1e1e1;
        width: 90%;
        float: left;
        margin: 18px 0px 10px 16px;
        -webkit-border-radius:6px;
        -moz-border-radius:6px;
        border-radius:6px;
        overflow: hidden;
    }
    
    .sidebar-item img {
        display: none;
    }
    
    .sidebar-text {
        float:left;
        width: 100%;
        height: 100%;
        margin: 0px;
        padding 5px;
    }
    
    #sub-footer {
        display: none;
    }


}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {



}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {





}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {





}



/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {





}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {





}