/* Desktops and laptops ----------- */
@media only screen 
and (max-width : 1000px){


    h1 { font-size: 48px; }
    h2 { font-size: 36px; }
    h3 { font-size: 17px; }
    h4 { font-size: 20px; }
    
    .site-container {
        width: 900px;
        margin: 0px auto;
    }
    
    header {
        width: 100%;
    }
    
    #logo {
        margin: 13px 0px 0px 26px;
    }
    
    #top-half {
        width: 100%;
    }
    
    #slider-wrapper {
        display: inline;
        width: 57%;
    }
    
    ul#slider .title {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 30px;
        font-weight: 700;
        color: #fff;
        text-shadow: 0 0 2px rgba(0,0,0,.75);
        margin: 3px 0px 3px 0px;
    }
    
    .slider-hr {
        background: url(../images/large-hr.png);
        width: 592px;
        height: 4px;
        border: none;
        margin: 3px 0px 3px 0px;
    }
    
    ul#slider .desc {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 18px;
        font-weight: 400;
        color: #f4e7c3;
        text-shadow: 0 0 1px rgba(0,0,0,.49);
        margin: 8px 0px 8px 0px;
        width: 85%;
    }
    
    ul#slider .sub-desc {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 18px;
        font-weight: 300;
        color: #e8f1ff;
        text-shadow: 0 0 1px rgba(0,0,0,.49);
        margin: 8px 0px 0px 0px;
        width: 85%;
        
    }
    
    #mid-strip {
            width: 100%;
    }
    
    ul.slide-pager li {
            float:left;
            padding-left: 20px;
            padding-right:20px;
            border-right: 1px solid #ffffff;
            border-left: 1px solid #c9d7ed;
            height: 25px;
            display:none;
    }
    
    
    #body-content {
        width: 60%;
        float:left;
        margin: 20px 0px 0px 0px;
        padding-left:15px;
    }
    
    #technology-checklist {
        margin-left: 0;
        padding-left: 0;
        list-style: none;
    }
    
    #technology-checklist p {
        display: inline;
        font-size: 13px;
    }
    
    #right-sidebar {
        background-color: #ffffff;
        border: 1px solid #e1e1e1;
        width: 36%;
        float: left;
        margin: 18px 0px 10px 16px;
        -webkit-border-radius:6px;
        -moz-border-radius:6px;
        border-radius:6px;
        overflow: hidden;
    }
    
    .sidebar-item img {
        display: none;
    }
    
    .sidebar-text {
        float:left;
        width: 100%;
        height: 100%;
        margin: 0px;
        padding 5px;
    }
    
    #sub-footer {
        display: none;
    }

}


/* Desktops and laptops ----------- */
@media only screen 
and (max-width : 768px){


    h1 { font-size: 48px; }
    h2 { font-size: 36px; }
    h3 { font-size: 17px; }
    h4 { font-size: 20px; }
    
    .site-container {
        width: 750px;
        margin: 0px auto;
    }
    
    header {
        width: 100%;
    }
    
    #logo {
        margin: 13px 0px 0px 26px;
    }
    
    #contact-info {
        display: inline;
    }
    
    #top-half {
        width: 100%;
    }
    
    #contact-form {
        display: none;
    }
    
    #slider-wrapper {
        width: 95%;
        float: left;
        margin: 5px 0px 0px 20px;
        display: inline;
    }
    
    ul#slider .title {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 48px;
        font-weight: 700;
        color: #fff;
        text-shadow: 0 0 2px rgba(0,0,0,.75);
        margin: 3px 0px 3px 0px;
    }
    
    .slider-hr {
        background: url(../images/large-hr.png);
        width: 95%;
        height: 4px;
        border: none;
        margin: 3px 0px 3px 0px;
    }
    
    ul#slider .desc {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 18px;
        font-weight: 400;
        color: #f4e7c3;
        text-shadow: 0 0 1px rgba(0,0,0,.49);
        margin: 8px 0px 8px 0px;
    }
    
    ul#slider .sub-desc {
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 18px;
        font-weight: 300;
        color: #e8f1ff;
        text-shadow: 0 0 1px rgba(0,0,0,.49);
        margin: 8px 0px 0px 0px;
        
    }
    
    #paginator {
        display: none; 
    }
    
    
    #body-content {
        width: 100%;
        float:left;
        margin: 20px 0px 0px 0px;
        padding-left:15px;
    }
    
    #technology-checklist {
        margin-left: 0;
        padding-left: 0;
        list-style: none;
    }
    
    #technology-checklist p {
        display: none;
    }
    
    #right-sidebar {
        background-color: #ffffff;
        border: 1px solid #e1e1e1;
        width: 90%;
        float: left;
        margin: 18px 0px 10px 16px;
        -webkit-border-radius:6px;
        -moz-border-radius:6px;
        border-radius:6px;
        overflow: hidden;
    }
    
    .sidebar-item img {
        display: none;
    }
    
    .sidebar-text {
        float:left;
        width: 100%;
        height: 100%;
        margin: 0px;
        padding 5px;
    }
    
    #sub-footer {
        display: none;
    }


}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {

    h1 { font-size: 48px; }
    h2 { font-size: 36px; }
    h3 { font-size: 17px; }
    h4 { font-size: 20px; }
    
    .site-container {
        width: 320px;
        margin: 0px auto;
    }
    
    header {
        width: 100%;
    }
    
    #logo {
        margin: 13px 0px 0px 26px;
    }
    
    #contact-info {
        display:none;
    }
    
    #slider-wrapper {
        display: none;
    }
    
    #contact-form {
        display: inline;
    }
    
    #slider-wrapper {
        display:none;
    }
    
    #body-content {
        width: 100%;
        float:left;
        margin: 20px 0px 0px 0px;
        padding-left:15px;
    }
    
    #technology-checklist {
        margin-left: 0;
        padding-left: 0;
        list-style: none;
    }
    
    #technology-checklist p {
        display: none;
    }
    
    #right-sidebar {
        background-color: #ffffff;
        border: 1px solid #e1e1e1;
        width: 90%;
        float: left;
        margin: 18px 0px 10px 16px;
        -webkit-border-radius:6px;
        -moz-border-radius:6px;
        border-radius:6px;
        overflow: hidden;
    }
    
    .sidebar-item img {
        display: none;
    }
    
    .sidebar-text {
        float:left;
        width: 100%;
        height: 100%;
        margin: 0px;
        padding 5px;
    }
    
    #sub-footer {
        display: none;
    }

}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {





}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {


    h1 { font-size: 48px; }
    h2 { font-size: 36px; }
    h3 { font-size: 17px; }
    h4 { font-size: 20px; }
    
    nav #primary {
        display:none;
    }
    
    #mobile-nav {
        display:inline;
    }
    
    .site-container {
        width: 320px;
        margin: 0px auto;
    }
    
    header {
        width: 100%;
    }
    
    #logo {
        margin: 13px 0px 0px 26px;
    }
    
    #contact-info {
        display:none;
    }
    
    #contact-form {
        width: 250px;
        display: inline;
        margin: 17px 0px 0px 20px;
    }
    
    #contact-form h2 {
        font-size: 25px;
        margin: 3px 0px 3px 0px;
    }
    
    .full-field {
        width: 110px;
        float: left;
        margin: 10px 10px 10px 13px;
    }
    
    input {
        width: 90%;
        height: 32px;
        padding: 0px 5px 0px 5px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        background-color: #fff;
        border: 2px solid #466da8;
        float:left;
        color: #a4a4a4;
        margin: 10px 10px 10px 13px;
    }
    
    textarea {
        width: 100%;
        height: 45px;
        padding: 10px 5px 10px 5px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        background-color: #fff;
        -webkit-box-shadow: 0 0 0 2px #85a8dc, inset 0 0 3px 2px rgba(0,0,0,.11);
        -moz-box-shadow: 0 0 0 2px #85a8dc, inset 0 0 3px 2px rgba(0,0,0,.11);
        box-shadow: 0 0 0 2px #85a8dc, inset 0 0 3px 2px rgba(0,0,0,.11);
        border: solid 1px #466da8;
        float:left;
        resize: none;
        color: #a4a4a4;
    }
    
    button {
        background-color: #7FBF4D;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7FBF4D), color-stop(100%, #63A62F));
        background-image: -webkit-linear-gradient(top, #7FBF4D, #63A62F);
        background-image: -moz-linear-gradient(top, #7FBF4D, #63A62F);
        background-image: -ms-linear-gradient(top, #7FBF4D, #63A62F);
        background-image: -o-linear-gradient(top, #7FBF4D, #63A62F);
        background-image: linear-gradient(top, #7FBF4D, #63A62F);
        border: 1px solid #63A62F;
        border-bottom: 1px solid #5B992B;
        border-radius: 3px;
        -webkit-box-shadow: inset 0 1px 0 0 #96CA6D;
        box-shadow: inset 0 1px 0 0 #96CA6D;
        color: white;
        font: bold 15px/1 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
        padding: 7px 0 8px 0;
        text-align: center;
        text-shadow: 0 -1px 0 #4C9021;
        cursor: pointer;
        width: 220px;
        height: 40px;
        margin: 10px 0px 0px 14px;
        float: left;
    }
    
    #slider-wrapper {
        display:none;
    } 
    
    
    #body-content {
        width: 100%;
        float:left;
        margin: 20px 0px 0px 0px;
        padding-left:15px;
    }
    
    #technology-checklist {
        margin-left: 0;
        padding-left: 0;
        list-style: none;
    }
    
    #technology-checklist p {
        display: none;
    }
    
    #right-sidebar {
        background-color: #ffffff;
        border: 1px solid #e1e1e1;
        width: 90%;
        float: left;
        margin: 18px 0px 10px 16px;
        -webkit-border-radius:6px;
        -moz-border-radius:6px;
        border-radius:6px;
        overflow: hidden;
    }
    
    .sidebar-item img {
        display: none;
    }
    
    .sidebar-text {
        float:left;
        width: 100%;
        height: 100%;
        margin: 0px;
        padding 5px;
    }
    
    #sub-footer {
        display: none;
    }


}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {



}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {





}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {





}



/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {





}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {





}